
* {
    font-family :'Open Sans';
    font-size: small;
  }
  
body {
    font-family :'Open Sans';
    font-size: small;
    background-color:black;
    /*background-image:url('images/background.jpg');*/
    background-position:top left;
    background-repeat:no-repeat;
}



a {
    text-decoration:none;font-weight:bold;
  }


h1 {
    font-size : x-large;
     font-family :'Open Sans';
    color: #008FC5;
    text-shadow: 0 1px 0 white;
  }

h2 {
    font-size : large;
    font-family :'Open Sans';
    color: #008FC5;
    text-shadow: 0 1px 0 white;
  }

h3 {
    font-size : large;
    font-family :'Open Sans';
    color: #008FC5;
    text-shadow: 0 1px 0 white;
  }



.mainView {
    background-color:#FFFFFF;
    font-size : x-large;
    background-image:url('images/background.jpg');
  }



.buttonik {
    background : #EBEBEB;
    border : outset 1px;
    border-color : #cecece;
    color : black;
    text-decoration : none;
    font-weight:bold;
    padding : 2px;
    -moz-border-radius: 3px;
    -moz-box-sizing: border-box;
  }
.buttonik:active {
    background : #EBEBEB;
    border : inset 1px;
    border-color : #cecece;
    color : black;
    text-decoration : none;
    font-weight:bold;
    padding : 2px;
    white-space:nowrap;;
 
  }

.buttonik:hover {
    background : #2A81B7;
    border : outset 1px;
    color : white;
    text-decoration : none;
    border-color : #cecece;
    font-weight:bold;
    padding : 2px;

  }


.minibuttonik {
    background : #F2F2F2;
    font-size : small;
    padding-left : 3px;
    padding-right : 3px;
    padding-top : 1px;
    padding-bottom : 1px;
    
    border : solid 1px #ABABAB;
    color : black;
    text-decoration : none;
    border-spacing : 1px 1px;
    font-family:Lucida Console,monospace;
    white-space:nowrap;
    -moz-border-radius: 4px;

  }

.minibuttonik:active {
    background : #FE0FE0;
    border : solid 1px;
    color : black;
    text-decoration : none;
    font-size:small;
    font-family:Lucida Console,monospace;
    -moz-border-radius: 4px;
  }

.minibuttonik:hover {
    background : #FFA858;
    border : solid 1px black;
    color : white;
    text-decoration : none;
    font-size:small;
    font-family:Lucida Console,monospace;
  }

.highlight {
    background : #FFFFFF;
    padding : 2px;
    color : black;
    text-decoration : none;
    font-size:smaller;
  }

.highlight:hover {
    background : #EBEBEB;
    padding : 2px;
    color : black;
    text-decoration : none;
    font-size:smaller;
  }

.buttonikMono {
    background : #EBEBEB;
    border : outset 1px;
    border-color : #cecece;
    color : black;
    text-decoration : none;
    font-size:smaller;
    font-family:monospace;	 
    padding : 2px;
  }

.buttonikMono:hover {
    background : #2A81B7;
    border : outset 1px;
    color : white;
    text-decoration : none;
    border-color : #cecece;
    font-family:monospace;
    font-size:smaller;
    padding : 2px;	 
  }
  
 .pane {
   background-color:#E8E8E8;
   -moz-border-radius: 4px;
   padding:5px;
   
 
 }
 
 a {
 	color:#484768;
	text-decoration:bold;
 	
 }

.main_notice{background-color:white;}

div.sexybutton {
	padding:0px;
        margin:2px;
	
	min-height:22px;
	float:left;
	display:block;
	
	
}
a.sexybutton {
        padding:3px;
	border:1px solid gray;
        border-radius:5px;
	min-height:20px;
        min-width:75px;
	font-size:small;
        background-color:lightgray;
}

a.sexybutton:hover{
	
	opacity:0.75;
}

input.sexybutton {
	cursor:pointer;
	background-color:none;
	background-image:url(images/lbutton.gif);
	background-position:bottom right;
	background-repeat:no-repeat;
	margin:0px;
	padding-left:4px;
	padding-right:4px;
	padding-top:0px;
	//padding-top:3px;
	padding-bottom:3px;
	//padding-bottom:0px;
	color:black;
	font-weight:;
	border:0px;
	height:17px;
	min-height:17px;
	font-size:small;
	
	bottom:0px;
}
input.sexybutton:hover {
	background-image:url(images/abutton.gif);
}
	
@media print {
	cortina {display:none}
}	
