* {
    font-family:Verdana;
    font-size:11px;
    padding:0px;
    margin:0px;
}

div.wWindowCss {
    border:1px solid gray;
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);  
    -moz-box-shadow: 0 0 10px rgb(0,0,0);  
    box-shadow: 0 0 10px rgb(0,0,0); 
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding:1px;
    background-color : #9DB9C8;

    /*background: #ffffff; /* Old browsers */
    background-image: linear-gradient(left bottom, #FFFFFF 0%, #CFCECC 64%);
    background-image: -o-linear-gradient(left bottom, #FFFFFF 0%, #CFCECC 64%);
    background-image: -moz-linear-gradient(left bottom, #FFFFFF 0%, #CFCECC 64%);
    background-image: -webkit-linear-gradient(left bottom, #FFFFFF 0%, #CFCECC 64%);
    background-image: -ms-linear-gradient(left bottom, #FFFFFF 0%, #CFCECC 64%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(0.64, #CFCECC)
        );
}


div.wWindowCssTitle {
    background-color : #517b91;
    border-bottom:1px solid black;
    -moz-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    font-weight:bold;
    cursor:move;
    color:white;
    padding-left:5px;
    padding-right:-5px;
    padding-top:3px;
    height:20px;
    font-size:13px;

background: rgb(148,155,178); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(148,155,178,1) 0%, rgba(28,52,109,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,155,178,1)), color-stop(85%,rgba(28,52,109,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949bb2', endColorstr='#1c346d',GradientType=0 ); /* IE6-9 */


}

div.wWindowCssContent {

    padding:5px;


}

span.wWindowCssButtomMin {
    position:absolute;
    right:5px;

    cursor:pointer;
}

span.wWindowCssButtomMax {
    position:absolute;

    right:30px;
    cursor:pointer;
}

.hightlight {

    background-color:white;

}
input[type='button'] {

    background-color:white;
    cursor:pointer;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:1px solid gray;
}

input[disabled] {

    opacity:0.5;
    cursor:auto;
}

input[type='button']:hover {
    text-shadow: #6374AB 1px 1px 2px;
}

.TabbedPanelsTab,.TabbedPanelsTabGroup {

    color:black;
    font-weight:bold;
    font-size:14px;
    font-family:Verdana;

}



input[type='button'] {
    color: #fef4e9;
    border: solid 1px #174A7A;
background: rgb(148,155,178); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(148,155,178,1) 0%, rgba(28,52,109,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,155,178,1)), color-stop(85%,rgba(28,52,109,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(148,155,178,1) 0%,rgba(28,52,109,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949bb2', endColorstr='#1c346d',GradientType=0 ); /* IE6-9 */

}
input[type='button']:hover {
    opacity:0.75;
}
input[type='button']:active {
    
}


/* Grid */

span.gridsizer1 {
    color:transparent;
    background:url(Img/gridsmall.png) transparent no-repeat center center;

}
span.gridsizer2 {
    color:transparent;
    background:url(Img/gridnormal.png) transparent no-repeat center center;

}
span.gridsizer3 {
    color:transparent;
    background:url(Img/gridbig.png) transparent no-repeat center center;

}
span.gridrefresh {
    color:transparent;
    background:url(Img/gridrefresh.png) transparent no-repeat center center;

}

span.gridsizer1:hover,span.gridsizer2:hover,span.gridsizer3:hover,span.gridrefresh:hover {
    opacity:0.5;
}
